<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
<!-- Include Header Fragment -->
<!-- Include Header with Title -->
<div th:replace="~{fragments.html :: header('Administracja')}"></div>

<!-- Include Menu Bar -->
<!-- Include the Menu Fragment -->
<div th:replace="~{fragments.html :: menu(${username}, ${role})}"></div>

<main>

</main>

<!-- Include Footer Fragment -->
<div th:replace="~{fragments.html :: footer}"></div>
</body>
</html>
